@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
a {
  font-style: italic;
  text-decoration: none;
}

* html body {
  font-size: 125%;
}

body {
  font-family: "Alegreya Sans", Arial, sans-serif;
  color: #222222;
  font-size: em(18px);
}
body .mobile-container .toggle-menu {
  width: 50px;
  height: 50px;
  position: relative;
  top: 10px;
  float: right;
  z-index: 1000;
}
body .mobile-container .toggle-menu i {
  position: absolute;
  display: block;
  height: 2px;
  background: #0094fc;
  width: 30px;
  left: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .mobile-container .toggle-menu i:nth-child(1) {
  top: 16px;
}
body .mobile-container .toggle-menu i:nth-child(2) {
  top: 24px;
}
body .mobile-container .toggle-menu i:nth-child(3) {
  top: 32px;
}
body .mobile-container .toggle-menu:active i:nth-child(1) {
  top: 25px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
body .mobile-container .toggle-menu:active i:nth-child(2) {
  background: transparent;
}
body .mobile-container .toggle-menu:active i:nth-child(3) {
  top: 25px;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
body .mobile-container .menu-drawer {
  width: 400px;
  background-color: #ccc;
  height: 900px;
  position: absolute;
  right: -550px;
  top: 0;
  transition: right linear 0.3s;
  padding: 50px;
  z-index: 14;
}
body .mobile-container .menu-drawer li {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 50px;
  text-align: center;
  list-style: none;
}
body .mobile-container .menu-drawer li a {
  text-decoration: none;
  color: #555;
}
body .mobile-container .menu-drawer li a:hover {
  color: #0094fc;
}
body .mobile-container .open {
  right: 0px;
  transition: right linear 0.3s;
  z-index: 15;
}

h1,
h2,
h3,
h4,
#main #content #introduction h5,
h5 {
  font-family: "Titillium Web", Georgia, serif;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

p {
  font-family: "Alegreya Sans", Arial, sans-serif;
}

a {
  color: #f27731;
}
a:hover {
  color: #ca510d;
}

.warning-button, .cta-button {
  background-color: orange;
  color: #fff;
  padding: 8px 12px;
}
.warning-button:hover, .cta-button:hover {
  background-color: #ffb733;
}

.cta-button {
  border-radius: 6px;
  font-weight: bold;
}

.desktop-header {
  border-radius: 12px;
  border: 1px solid #fff;
  box-shadow: 2px 0px 4px #747272, 1px 1px 6px #f27731;
  -moz-box-shadow: 2px 0px 4px #747272, 1px 1px 6px #f27731;
  -webkit-box-shadow: 2px 0px 4px #747272, 1px 1px 6px #f27731;
  height: 60px;
  background-color: #170a48;
  margin: 10px 0;
  box-sizing: border-box;
}
.desktop-header #main-menu {
  margin: 15px;
}
.desktop-header #main-menu li {
  display: inline;
}
.desktop-header #main-menu a {
  color: white;
  padding: 6px 8px;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  transition: border-bottom 0.3s;
  transition-timing-function: ease-in-out;
}
.desktop-header #main-menu a .className {
  border-bottom: 1px solid #fefefe;
}
.desktop-header #main-menu a:hover {
  border-bottom: 1px solid #fefefe;
}
.desktop-header #logo {
  margin: 50px;
  float: left;
}

#main {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  float: left;
}
#main .imagelogo {
  display: block;
  text-align: center;
  float: left;
  max-width: 30%;
  position: relative;
  z-index: 8;
}
#main .imagelogo img {
  max-width: 100%;
  height: auto;
  display: block;
}
#main .imagelogo #logo {
  background-color: grey;
}
#main .imagelogo p {
  position: absolute;
  bottom: 0;
  left: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 25px;
}
#main #content {
  float: left;
  margin-left: 20px;
  padding-left: 10px;
  max-width: 35%;
  overflow: auto;
  z-index: 9;
  text-align: justify;
}
#main #content a {
  margin-top: 10px;
  display: flex;
}
#main #content #introduction h4, #main #content #introduction h5 {
  margin: 20px 0 20px 0;
}
#main #content #introduction p a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  color: #333279;
}
#main #content #introduction h5 {
  border: 2px solid #968a8a;
  padding: 2px 4px;
}
#main #content #introduction h5 a {
  all: unset;
  cursor: pointer;
  text-decoration: underline;
  color: #333279;
}
#main #content #testimonials {
  font-weight: normal;
  margin: 0, 20px;
  font-weight: none;
}
#main #content #testimonials ul li {
  list-style-type: none;
}
#main #content-work {
  float: left;
  display: flex;
  margin-left: 20px;
  padding-left: 10px;
  max-width: 45%;
  z-index: 9;
  text-align: justify;
}
#main #content-work li {
  list-style: none;
}
#main #content-work .work-history p ul {
  display: list-item;
  list-style-position: none;
}

#footer {
  clear: both;
  padding: 10px 10px 0px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ccf962;
  display: block;
  z-index: 15;
}
#footer p {
  padding: 0 10px;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", Arial, sans-serif;
}

.container {
  position: relative;
  max-width: 400px;
  height: auto;
  font-size: 80%;
  float: left;
  margin-left: 20px;
  margin-bottom: 50px;
}
.container h2 {
  color: #fff;
}
.container:hover .skills {
  opacity: 0.5;
}
.container .skills {
  position: relative;
  display: flex;
  margin: 12px 0;
  padding: 20px 8px 14px;
  background: linear-gradient(#616161 0%, #333 10%, #222);
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  transition: 0.4s;
}
.container .skills:hover {
  opacity: 1;
  transform: scale(1.1);
}
.container .skills:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}
.container .skills .Name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
  margin-top: -2px;
}
.container .skills .Value {
  position: relative;
  width: 150px;
  text-align: center;
  color: #fff;
  margin-top: -2px;
}
.container .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}
.container .skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #fff;
  box-shadow: inset 0 0 2px #000;
  animation: animate 4s ease-in-out forwards;
}

@keyframes animate {
  from {
    width: 0;
  }
}
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.stickyicon-list {
  position: relative;
  margin-top: 120px;
  transform: translateY(-50%);
}

.stickyicon-list a {
  display: block;
  text-align: left;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px;
}

.stickyicon-list a:hover {
  color: #000;
  width: 70px;
}

.facebook {
  background: #3b5998;
  color: white;
}

.stack-overflow {
  color: white;
  background: #f48024;
}

.linkedin {
  background: #0e76a8;
  color: white;
}

.github {
  color: white;
  background: #999;
}

.instagram {
  background: #e95950;
  color: white;
}

.email {
  border: 1px solid #f27731;
  font-size: x-large;
}

@media only screen and (min-width: 960px) {
  body .mobile-container {
    display: none;
    float: none;
  }
  body .mobile-container .menu-drawer {
    display: none;
  }
  body .mobile-container .toggle-menu {
    display: none;
  }
}
@media only screen and (max-width: 680px) {
  #main .imagelogo {
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  body .mobile-container .toggle-menu {
    display: block;
  }
  body .mobile-container .menu-drawer {
    display: block;
  }

  .desktop-header {
    display: none;
  }

  #main {
    width: auto;
    max-width: 100%;
    float: none;
  }
  #main .imagelogo {
    width: auto;
    max-width: 100%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  #main #content {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }
  #main #content-work {
    float: none;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
  }

  #footer p {
    text-align: left;
  }
}
@media screen and (max-width: 960px) {
  #main {
    width: auto;
    max-width: 1300px;
  }
}
@media screen and (min-width: 1200px) {
  #main {
    width: auto;
    max-width: 1200px;
  }
}

/*# sourceMappingURL=main.css.map */
