@import 'partials/mixins';
@import 'partials/variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@include google-font('Alegreya+Sans');
@include google-font('Titillium+Web');

@include fancy-links;

// only for InternetExplorer
@include apply-to-ie-6 {
  body {
    font-size: 125%;
  }
}

body {
  font-family: $text-font;
  color: $text-color;
  font-size: em(18px);

  // Mobile container

  .mobile-container {
    // position: relative;
    // overflow: hidden;
    // height: 9000px;

    .toggle-menu {
      width: 50px;
      height: 50px;
      position: relative;
      top: 10px;
      float: right;
      z-index: 1000;

      i {
        position: absolute;
        display: block;
        height: 2px;
        background: #0094fc;
        width: 30px;
        left: 0px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }

      i:nth-child(1) {
        top: 16px;
      }

      i:nth-child(2) {
        top: 24px;
      }

      i:nth-child(3) {
        top: 32px;
      }

      &:active i:nth-child(1) {
        top: 25px;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }

      &:active i:nth-child(2) {
        background: transparent;
      }

      &:active i:nth-child(3) {
        top: 25px;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
    }

    .menu-drawer {
      width: 400px;
      background-color: #ccc;
      height: 900px;
      position: absolute;
      right: -550px;
      top: 0;
      transition: right linear 0.3s;
      padding: 50px;

      .open {
        right: 0px;
        transition: right linear 0.3s;
      }

      li {
        font-family: sans-serif;
        font-weight: bold;
        margin-bottom: 30px;
        font-size: 50px;
        text-align: center;
        a {
          text-decoration: none;
          color: #555;
          &:hover {
            color: #0094fc;
          }
        }
      }
    }
  }
}

.imagelogo {
  display: block;
  text-align: center;
  float: left;
  max-width: 30%;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  #logo {
    background-color: grey;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 15px;
    color: #fff;
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 15px 25px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline-font;
}

h2 {
  @include large-text;
}

p {
  font-family: $text-font;
}

a {
  color: $link-color;

  &:hover {
    color: darken($link-color, 15%);
  }
}

.warning-button {
  @include warning;
  padding: 8px 12px;
}

.cta-button {
  @extend .warning-button;
  @include rounded;
  font-weight: bold;
}

.desktop-header {
  @include box($border: 1px solid #fff, $radius: 12px);
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;
  margin: 10px 0;
  box-sizing: border-box;

  #main-menu {
    margin: 15px;
    li {
      display: inline;
    }
    a {
      color: $menu-item-color;
      padding: 6px 8px;
      border-bottom: 1px solid transparentize(#fefefe, 1);
      transition: border-bottom 0.3s;
      transition-timing-function: ease-in-out;

      .className {
        border-bottom: 1px solid opacify(#fefefe, 1);
      }

      &:hover {
        border-bottom: 1px solid opacify(#fefefe, 0.5);
      }
    }
  }

  #logo {
    margin: 50px;
    float: left;
  }
}

#main {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  float: left;

  #content {
    float: left;
    margin-left: 20px;
    padding-left: 10px;
    max-width: 35%;
    overflow: auto;
    z-index: 9;
    text-align: justify;

    a {
      margin-top: 10px;
      display: flex;
    }

    #introduction {
      h4 {
        margin: 20px 0 20px 0;
      }

      p {
        a {
          @include link-styles;
        }
      }

      h5 {
        @extend h4;
        border: 2px solid rgb(150, 138, 138);
        padding: 2px 4px;

        a {
          @include link-styles;
        }
      }
    }

    #testimonials {
      font-weight: normal;
      margin: 0, 20px;
      font-weight: none;

      ul {
        li {
          list-style-type: none;
        }
      }
    }
  }

  #content-work {
    float: left;
    display: flex;
    margin-left: 20px;
    padding-left: 10px;
    max-width: 45%;
    z-index: 9;
    text-align: justify;

    li {
      list-style: none;
    }

    .work-history {
      p {
        ul {
          // list-style-type: circle;
          display: list-item;
          list-style-position: none;
        }
      }
    }
  }

  #sidebar {
    float: left;
    margin: 20px 0 0 20px;
    max-width: 30%;
    height: auto;
    border: 2px dotted #999;

    li {
      list-style-type: none;
      padding: em(16px) em(20px);
      border-bottom: 1px dashed #999;
      margin: 10px 10px;

      &:hover {
        background-color: #efefef;
      }
    }
  }
}

#footer {
  // pushed below left and right floated elements
  clear: both;
  padding: 10px 10px 0px 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $ternary-color;
  display: block;
  z-index: 15;

  p {
    padding: 0 10px;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $text-font;
  //font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  max-width: 400px;
  height: auto;
  font-size: 80%;
  float: left;
  margin-left: 20px;
  margin-bottom: 50px;

  h2 {
    color: #fff;
  }

  &:hover .skills {
    opacity: 0.5;
  }

  .skills {
    position: relative;
    display: flex;
    margin: 12px 0;
    padding: 20px 8px 14px;
    background: linear-gradient(#616161 0%, #333 10%, #222);
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid #000;
    transition: 0.4s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: rgba(255, 255, 255, 0.1);
      z-index: 10;
    }

    .Name {
      position: relative;
      width: 110px;
      text-align: right;
      color: #fff;
      margin-top: -2px;
    }

    .Value {
      position: relative;
      width: 150px;
      text-align: center;
      color: #fff;
      margin-top: -2px;
    }

    .percent {
      position: relative;
      width: calc(100% - 150px);
      height: 20px;
      margin: 0 10px;
      border-radius: 10px;
      background: #151515;
      box-shadow: inset 0 0 10px #000;
      overflow: hidden;

      .progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        border-radius: 10px;
        background: #fff;
        box-shadow: inset 0 0 2px #000;
        animation: animate 4s ease-in-out forwards;
      }
    }
  }
}

@keyframes animate {
  from {
    width: 0;
  }
}

// Clearfix method
.group:before,
.group:after {
  content: '';
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}

.stickyicon-list {
  position: relative;
  margin-top: 120px;
  transform: translateY(-50%);
}
.stickyicon-list a {
  display: block;
  text-align: left;
  padding: 8px;
  transition: all 0.5s ease;
  color: white;
  font-size: 20px;
}

.stickyicon-list a:hover {
  color: #000;
  width: 70px;
}

.facebook {
  background: #3b5998;
  color: white;
}
.stack-overflow {
  color: white;
  background: #f48024;
}
.linkedin {
  background: #0e76a8;
  color: white;
}
.github {
  color: white;
  background: #999;
}
.instagram {
  background: #e95950;
  color: white;
}

.email {
  border: 1px solid $link-color;
  font-size: x-large;
}

// Media queries
@media only screen and (min-width: 960px) {
  body {
    .mobile-container {
      display: none;
      float: none;

      .menu-drawer {
        display: none;
      }

      .toggle-menu {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 680px) {
  #main {
    .imagelogo {
      width: auto;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  body {
    .mobile-container {
      .toggle-menu {
        display: block;
      }

      .menu-drawer {
        display: block;
      }
    }
  }

  .desktop-header {
    display: none;
  }

  #main {
    width: auto;
    max-width: 100%;
    float: none;

    .imagelogo {
      width: auto;
      max-width: 100%;
      float: none;
    }

    #content {
      max-width: 100%;
      width: auto;
      float: none;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
    }

    #content-work {
      float: none;
      max-width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 5px;
      padding-right: 5px;
      box-sizing: border-box;
    }

    #sidebar {
      display: none;
    }
  }
  #footer {
    p {
      text-align: left;
    }
  }
}

@media screen and (max-width: 960px) {
  #main {
    width: auto;
    max-width: $content-width;
  }
}

@media screen and (min-width: 1200px) {
  #main {
    width: auto;
    max-width: 1200px;
  }
}
